.App {
  text-align: center;
}

.card{
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 grey;
  border: 1px solid #cecece;
  text-align: center;
  content: wrap;
}

.cards__align{
  display:inline-block;  
  text-align: center;
}

.main__content{
  display: inline-flex;
  align-items: center;
}